<div class="jumbotron">
    <h1>MASGLOBAL Consulting Test</h1>
    <p class="lead">I used .NET with an aplication web ASP.net (.Net framework) to perform this test</p>
    <p class="">Dependencies or package:</p>
    <p class="">.NETFramework 4.7.2 </p>
    <p class="">RestSharp 4.7.2 </p>
    <p class="">Microsoft.AspNet.WebApi.Cors </p>
    <p><a target="_blank" href="http://localhost:4200" class="btn btn-primary btn-lg">Open Angular project &raquo;</a></p>
</div>
